.card-container{
    display: flex;
    flex-direction: column;
    background-color: #008081;
    border: 1px solid #6d7d62;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}
.card-container:hover{
    transform: scale(1.05);
}